body {
  margin: 0;
  padding: 0;
}

nav {
  background-color: white;
  width: 100%;
  display: flex;
  align-items: center;
}

.navListe {
  width: 100%;
  position: relative;
  background-color: white;
}
.navListe .imgTitre {
  text-align: center;
}

.gauche {
  position: absolute;
  left: 0%;
  top: 0%;
}

header h1 {
  text-align: center;
  padding: 3%;
  font-size: 60px;
}
header ul {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2%;
}
@media (max-width: 450px) {
  header ul {
    display: none;
    flex-direction: column;
  }
}
header ul li {
  margin: 8px;
  list-style: none;
}
header ul li a {
  text-decoration: none;
  color: black;
  font-size: 15px;
}
header ul li a:hover {
  color: black;
  text-decoration: none;
}
header ul li .white_black {
  display: flex;
  align-items: center;
}
header ul li .white_black .white {
  border: 1px solid black;
  margin: 2px;
  width: 10px;
  height: 10px;
  border-radius: 2px;
}
header ul li .white_black .black {
  border: 1px solid black;
  margin: 2px;
  width: 10px;
  height: 10px;
  background-color: black;
  border-radius: 2px;
}
header ul li .white_black button {
  background-color: grey;
  color: white;
  font-size: 10px;
  padding: 5px;
}
header section {
  height: auto;
  width: 100%;
  background-color: #F3F3F3;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5%;
}
header section .firstPart {
  margin-left: 10%;
  flex: 3;
}
header section .firstPart .titre_section .red {
  font-size: 50px;
  color: #e02b2b;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
header section .firstPart .titre_section .bolder {
  font-size: 80px;
  margin: 0;
  font-weight: bolder;
}
@media screen and (max-width: 400px) {
  header section .firstPart .titre_section .bolder {
    font-size: 40px;
  }
}
header section .firstPart .para_section p {
  width: 70%;
  padding: 2%;
  opacity: 70%;
}
header section .firstPart .para_section button {
  background-color: red;
  color: white;
  border-radius: 20px;
  padding: 2% 8%;
  margin: 5% 0%;
  opacity: 0.75;
}
header section .secondPart {
  flex: 2;
  display: flex;
  justify-content: center;
  margin-right: 10%;
}
header section .secondPart img {
  width: 100%;
}

.inscriptionDiv {
  display: none;
  opacity: 100%;
  position: absolute;
  height: auto;
  margin: 10% 0%;
  width: 50%;
  background-color: whitesmoke;
  justify-content: center;
  align-items: center;
  z-index: 2;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
@media (max-width: 400px) {
  .inscriptionDiv {
    width: 100%;
    z-index: 5;
  }
}
.inscriptionDiv .label {
  margin-top: 10%;
  width: 100%;
}
.inscriptionDiv .label label {
  width: 100%;
}
.inscriptionDiv .label label input {
  width: 100%;
}
.inscriptionDiv .label span {
  color: #7e7e7e;
  font-size: 11px;
}
.inscriptionDiv .haut {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 10%;
  position: relative;
}
.inscriptionDiv .haut h1 {
  position: absolute;
  left: 0%;
  top: 2%;
}
.inscriptionDiv .haut I {
  color: red;
  position: absolute;
  right: 0%;
  top: 2%;
}
.inscriptionDiv .btn {
  display: flex;
}
.inscriptionDiv .btn .btn1 {
  flex: 3;
  background-color: #df2121;
  border: transparent;
  color: white;
  margin: 2px;
}
.inscriptionDiv .btn .btn2 {
  background-color: #df2121;
  border: transparent;
  color: white;
}
.inscriptionDiv .blue {
  background-color: #6767e0;
  color: white;
}
.inscriptionDiv .mesicones {
  display: flex;
  justify-content: center;
}
.inscriptionDiv .mesicones i {
  margin: 5px;
  font-size: 20px;
}
.inscriptionDiv .inscription {
  display: none;
  width: 100%;
  height: 100vh;
}
.inscriptionDiv .inscription label {
  width: 100%;
}
.inscriptionDiv .inscription label input {
  width: 95%;
}

.stop-scrolling {
  height: 100vh;
  overflow: hidden;
}

.burger {
  visibility: hidden;
}
@media (max-width: 450px) {
  .burger {
    visibility: visible;
  }
}
.burger i {
  font-size: 50px;
}

.quitter {
  font-size: 30px;
  margin-top: 2%;
}

@media (max-width: 400px) {
  .monUlBurger {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    right: 0%;
    background-color: white;
    padding-right: 20%;
    z-index: 2;
    animation: bascule 0.5s ease-in-out;
  }
}
.monUlBurger li {
  width: 100%;
  font-size: 50px;
  font-weight: bold;
}
.monUlBurger li button {
  font-size: 50px;
}

.titre_image {
  width: 100%;
  text-align: center;
  margin-bottom: 2%;
  margin-top: 2%;
}

.effetScroll {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 0;
  padding: 0;
  animation: dessend 1s ease;
  position: fixed;
  z-index: 2;
  background-color: white;
  width: 100%;
}

@keyframes dessend {
  0% {
    positon: absolute;
    top: -100%;
  }
  25% {
    positon: absolute;
    top: -80%;
  }
  50% {
    positon: absolute;
    top: -40%;
  }
  75% {
    positon: absolute;
    top: -20%;
  }
  100% {
    positon: absolute;
    top: 0%;
  }
}
@keyframes bascule {
  0% {
    right: -100%;
  }
  20% {
    right: -80%;
  }
  50% {
    right: -60%;
  }
  75% {
    right: -40%;
  }
  100% {
    right: 0%;
  }
}
.papaInscription {
  height: 10000px;
  width: 100px;
  background-image: url("../img/connexion.jpg");
  background-size: contain;
  z-index: -2;
}

footer {
  background-color: grey;
  height: auto;
  width: 100%;
  margin-top: 2%;
  padding-top: 2%;
}
footer section {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 2%;
  width: 100%;
}
footer section p {
  font-size: 10px;
  color: rgba(211, 211, 211, 0.548);
}
@media (max-width: 400px) {
  footer section p {
    font-size: 20px;
  }
}
footer section h2 {
  color: lightgray;
  font-size: 12px;
}
footer section ul {
  list-style: none;
}
footer section ul a {
  text-decoration: none;
  color: white;
  font-size: 10px;
}
@media (max-width: 400px) {
  footer section ul a {
    font-size: 20px;
  }
}
footer section ul a:hover {
  color: green;
  text-decoration: none;
}
footer section .parent_span {
  display: flex;
  align-items: center;
}
footer section .parent_span span {
  margin: 5px 3px;
  border-radius: 5px;
  border: 1px solid lightgray;
  padding: 2px;
  color: lightgray;
}
@media (max-width: 400px) {
  footer section .parent_span span {
    font-size: 20px;
  }
}
footer section .parent_span span:hover {
  background-color: white;
  color: black;
}
footer .footerNoir {
  background-color: black;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: lightgray;
}
@media (max-width: 400px) {
  footer .footerNoir {
    font-size: 20px;
  }
}

.troisCadre {
  margin: 0 !important;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.troisCadre div {
  height: 200px;
  border: 7px solid white;
}
.troisCadre a {
  text-decoration: none;
  color: white;
}
.troisCadre a:hover {
  color: white;
  text-decoration: none;
}
.troisCadre .service1 {
  background-image: url("../img/services/service-1.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
}
.troisCadre .service1:hover {
  opacity: 70%;
  border-radius: 15px;
}
.troisCadre .service1 h2 {
  border-bottom: 3px solid white;
}
.troisCadre .service2 {
  background-image: url("../img/services/service-2.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
}
.troisCadre .service2:hover {
  opacity: 70%;
  border-radius: 15px;
}
.troisCadre .service2 h2 {
  border-bottom: 3px solid white;
  padding: 0 20%;
}
.troisCadre .service3 {
  background-image: url("../img/services/slider-3.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
}
.troisCadre .service3:hover {
  opacity: 70%;
  border-radius: 15px;
}
.troisCadre .service3 h2 {
  border-bottom: 3px solid white;
  padding: 0 20%;
}

.sectionRecent_product h2 {
  text-align: center;
}
.sectionRecent_product h3 {
  font-size: 15px;
}
.sectionRecent_product img {
  height: 200px;
  width: 250px;
}
@media (max-width: 800px) {
  .sectionRecent_product img {
    height: 350px;
    width: 100%;
  }
}
.sectionRecent_product span {
  color: red;
}
.sectionRecent_product .parent {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.sectionRecent_product .parent .child {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
@media (max-width: 400px) {
  .sectionRecent_product .parent .child {
    padding: 0;
  }
}
.sectionRecent_product .parent .child .image:hover .hover {
  opacity: 100%;
  animation: up 0.3s ease-out;
}
.sectionRecent_product .parent .child .image .hover {
  opacity: 0%;
  display: flex;
  width: 100%;
  justify-content: center;
  position: absolute;
  height: 50px;
  bottom: 0%;
}
.sectionRecent_product .parent .child .image .hover i {
  color: white;
}
.sectionRecent_product .parent .child .image .hover .red {
  background-color: red;
  font-size: 10px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
}
.sectionRecent_product .parent .child .image .hover .black {
  background-color: black;
  font-size: 10px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
}
.sectionRecent_product .parent .child .grey {
  color: grey;
  text-decoration: line-through;
}
.sectionRecent_product .parent .child .promo {
  margin-bottom: 5px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.sectionRecent_product .parent .child .promo .rond {
  width: 50px;
  height: 50px;
  background-color: red;
  border-radius: 50%;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

@keyframes up {
  0% {
    height: 0px;
  }
  100% {
    height: 50px;
  }
}
.discover {
  height: auto;
  width: 100%;
  background-image: url("../img/cta-bg.jpg");
  background-size: 100%;
  background-attachment: fixed;
}
.discover div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20%;
  color: white;
}
.discover div button {
  background-color: red;
  border: transparent;
  padding: 5px 10px;
}
.discover div buttonhover {
  text-decoration: none;
}
.discover div button a {
  color: white;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.discover div button ahover {
  text-decoration: none;
}

.carrousel {
  padding: 3%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.carrousel .hover {
  display: none;
}
.carrousel .grey {
  color: grey;
  text-decoration: line-through;
}
.carrousel span {
  color: red;
}
.carrousel .promo {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.carrousel .promo .rond {
  font-size: 13px;
  width: 35px;
  height: 35px;
  background-color: red;
  border-radius: 50%;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}
.carrousel .mesdiv {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.carrousel img {
  height: 150px;
  width: 180px;
  margin: 5px;
}
.carrousel h2 {
  text-align: center;
}
.carrousel h3 {
  font-size: 15px;
}
.carrousel .parent {
  display: flex;
  justify-content: center;
  margin: 0%;
  width: 100%;
}
@media (max-width: 450px) {
  .carrousel .parent {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
.carrousel .parent .child .grey {
  color: grey;
  text-decoration: line-through;
}
.carrousel .parent .child span {
  color: red;
}
.carrousel .mesBtn {
  width: 100%;
  display: flex;
  justify-content: center;
}
.carrousel .mesBtn button {
  margin: 10px;
  padding: 4px;
  border-radius: 50%;
}

.case1 div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
@media (max-width: 450px) {
  .case1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}

.case2 div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
@media (max-width: 450px) {
  .case2 {
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}

.case3 div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
@media (max-width: 450px) {
  .case3 {
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}

.case4 div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
@media (max-width: 450px) {
  .case4 {
    display: none;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
}

@keyframes lancerGauche {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(-500px);
    opacity: 50%;
  }
  100% {
    transform: translateX(0);
  }
}
.grosBlock {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.grosBlock .parent {
  display: flex;
  width: 100%;
}
.grosBlock .parent h2 {
  padding-top: 2%;
  font-size: 13px;
  font-weight: bolder;
}
.grosBlock .parent p {
  font-size: 10px;
  width: 80%;
}
.grosBlock .parent button {
  border: transparent;
  background-color: grey;
  color: white;
  margin-bottom: 5%;
}
.grosBlock .parent .child_different {
  width: 100%;
  padding-top: 2%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: red;
  color: white;
}
@media (max-width: 400px) {
  .grosBlock .parent .child_different p {
    font-size: 20px;
  }
}
.grosBlock .parent .child_different button {
  background-color: white;
  color: black;
  border: transparent;
  margin-bottom: 5%;
}
.grosBlock .parent .child {
  width: 100%;
  padding-top: 2%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: lightgray;
}
@media (max-width: 400px) {
  .grosBlock .parent .child p {
    font-size: 20px;
  }
}

/*# sourceMappingURL=app.css.map */
