.sectionRecent_product {
    display: flex;
    align-items: center;
    justify-content: center;
    
    h2{
        text-align: center;
    }
    h3{
        font-size: 18px;
    }
    img { 
        height: 200px;
        width: 220px;
        // margin: 5px;
    }
    span {
        color: red;
    }
    .parent { 
        display: flex;
    
        

        .child { 
            display: flex;
            flex-direction: column;
            position: relative;
            .image{
                .hover {
                    position: absolute;
                    height: 70px;
                    bottom: 0% ;
                    display: flex;  
                    width: 100%;
                    justify-content: center; 
                   
                    .red{
                        background-color: red;
                        color: white;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        width: 50%;
                        
                        
                        
                    }
                    .black {
                        background-color: black;
                        color: white;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        width: 50%;
                  
                    }
        
                }
            }
          
            
            
            .grey {
                color : grey;
                text-decoration:line-through;
                
            }
            .promo {
                margin: 20px;
                display: flex;
                align-items: center;
                justify-content: space-around;
                  .rond { 

                width: 50px;
                height: 50px;
                background-color: red;
                border-radius: 50%;
                color: white;
                display: flex;
                align-items: center;
                justify-content: center;
                
              
            } 
            }
         
        }
    }

}